absl-py
altair
astroid
asttokens
attrs
backcall
blinker
boto3
botocore
cachetools
certifi
charset-normalizer
click
colorama
comm
commonmark
contourpy
cycler
debugpy
decorator
dill
entrypoints
executing
filelock
fire
fonttools
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
isort
jedi
Jinja2
jmespath
jsonschema
jupyter-client
jupyter-core
kiwisolver
lazy-object-proxy
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
nest-asyncio
numpy
oauthlib
opencv-python
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pybboxes
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
pyzmq
requests
requests-oauthlib
rich
rsa
s3transfer
sahi
scipy
seaborn
semver
shapely
six
smmap
stack-data
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
terminaltables
thop
toml
tomli
tomlkit
toolz
torch==2.0.0
torchaudio==2.0.0
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
Werkzeug
wrapt
ultralytics
